<%= form_with model:@item, local: true do |f|%>
    
     <% if @item.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@item.errors.count, "error") %>
            prohibited this item from being saved:
        </h2>
        <ul>
        <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name%>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01 %>
    <%# <%= f.hidden_field :category_id, value: @category.id %>
    <br>
    <%= f.submit %>
<% end%>