<!DOCTYPE html>
<html>
  <head>
    <title>Menuapplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <% if session[:user_id] %>
      <%= link_to "Logout", logout_path %>
      <% else%>
      <%= link_to "Login", login_path%>
    <%end %>
  </footer>
</html>
