<!DOCTYPE html>
<html>
  <head>
    <title>Menuapplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
            <div>
                <%= msg %>
            </div>
        <% end %>
    <%= yield %>
  </body>

  <footer>
    <% if session[:user_id] %>
      <% @user = User.find_by(id:session[:user_id])%>
      <%= link_to "Account Settings", edit_user_path(session[:user_id]) %>
      <% if @user.admin == true %>
        <br><%= link_to "My Restaurants", user_myrestaurants_path(@user) %>
      <% end%>
      <br>
      <%= link_to "Logout", logout_path %>
    <% else%>
      <%= link_to "Login", login_path%>
    <%end %>
  </footer>
</html>
